:root {
  --background-color: #fffae9;
  font-family: serif;
}

* {
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  box-sizing: border-box;
  background-color: var(--background-color); /* Change the color of the gap */
  height: 100vh;
}

/* #region - Info */

/* #endregion */

/* #region - Main Section */

.main-section {
  display: grid;
  place-items: center;
}

header {
  position: relative;
  font-size: 1.5rem;
}

/* The * sign */
header h1::before {
  content: "*";
  position: absolute;
  top: 35%;
  left: -10%;
  right: 0;
  bottom: 0;
  font-size: 1em;
}

/* #endregion */

/* #region - Scoreboard */

/* #endregion */

/* #region - Cards */

.card {
  outline: 2px solid darkorchid;
  border-radius: 8px;
  margin: 0 0.5rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.7);
}

.red {
  background-color: red;
  transition: all 0.6s ease;
}

.green {
  background-color: green;
  transition: all 0.6s ease;
}

/* #endregion */

/* #region - Input */
.pass-section input {
  font-size: 24px;
  text-align: center;
  min-width: 20ch;
  width: 20ch; /* Necessary so that the input box doesn't shrink on the first character*/
  box-sizing: content-box;
  transition: all 0.3s ease;
  padding: 0.3rem;
  text-wrap: wrap;
}

/* #endregion */
