/* TODO: Add scroll button on the right section if the section overflows. Use scroll Y*/

body {
  /* Control the scroll button */
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  box-sizing: border-box;
  background-color: #fff; /* Change the color of the gap */
}

.left-section {
  display: grid;
  place-items: center;
  grid-column: span 2;
  background-color: #fffae9; /* Change color of the left section */
  border-radius: 8px;
}

.right-section {
  display: grid;
  gap: 1rem;
  background-color: #fffae9; /* Change color of the right section*/
  border-radius: 8px;
}

.card {
  outline: 2px solid darkorchid;
  border-radius: 8px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
