:root {
  --background-color: #fffae9;
  font-family: serif;
  font-size: 16px;
  --bg-clr: #ffd43b;
  --text-clr: #183153;
  --border: 3px solid var(--text-clr);
}

*,
*::after,
*::before {
  font-weight: 400;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color); /* Change the color of the gap */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 0.5rem;
  box-sizing: border-box;
  overflow-y: hidden;
}

/* #region - Main Section */

.main-section,
.pass-section,
.cards {
  display: grid;
  place-items: center;
}

header h1 {
  position: relative;
  font-size: 3em;
}

/* The * sign */
header h1::before {
  content: "*";
  position: absolute;
  top: 20%;
  left: -10%;
  right: 0;
  bottom: 0;
  font-size: 1em;
}

textarea {
  border-radius: 8px;
  font-size: 2rem;
  text-align: center;
  resize: none;
  width: 100%; /* Necessary so that the textarea box doesn't shrink on the first character*/
  box-sizing: content-box;
  transition: all 0.3s ease;
  padding: 0.3rem;
  overflow-wrap: break-word;
  height: auto;
  min-height: 2rem;
  max-height: 5rem;
  overflow: hidden;
}

.pass-section p {
  background-color: #fff;
  width: 25ch;
  max-width: 30ch;
  border: 1px solid #000;
  border-radius: 8px;
  text-align: center;
  font-size: 2rem;
  overflow-wrap: break-word;
  box-sizing: content-box;
  margin: 0;
  padding: 0.3rem 1rem;
}

.choose-pass {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/* Requirement styling */
.rules h1 {
  position: relative;
  cursor: pointer;
}

.rules h1::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #000;
  bottom: -10%;
  left: 0;
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.3s ease;
  border-radius: 50%;
}

.rules h1:hover::after {
  transform-origin: left;
  transform: scale(1);
}

@media (max-width: 1220px) {
  :root {
    font-size: 0.9em;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .card {
    max-width: 50%;
    min-width: 300px;
  }
  .info {
    display: none;
  }
}

@media (max-width: 500px) {
  header h1 {
    font-size: 2.2em;
  }
  header h1::before {
    margin: 0 0.6rem;
  }
  .pass-section p {
    width: 16ch;
  }
}

/* #endregion */

/* #region - Start Phase */
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.enter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  padding: 4rem;
  text-align: center;
  border-radius: 8px;
  border: 2px solid var(--text-clr);
}

.enter h1 {
  font-size: 3rem;
  color: var(--text-clr);
}

.enter form input {
  padding: 0.4rem;
  margin: 2rem;
  border-radius: 5px;
  color: var(--text-clr);
  border: 2px solid var(--text-clr);
  text-align: center;
  font-family: serif;
  font-size: 2rem;
}

.enter form input::placeholder {
  opacity: 0.7;
}

.enter form button {
  background: #ffd43b;
  color: var(--text-clr);
  padding: 1.6rem;
  font-size: larger;
  border: var(--border);
  border-radius: 20px;
  border-bottom: 8px solid var(--text-clr);
  font-weight: 600;
  cursor: pointer;
  margin-top: 1.5rem;
  -webkit-tap-highlight-color: transparent;
}

.enter form button:active {
  transform: translateY(2px);
}

.enter form button:hover {
  background: #fab005;
}

@media (max-width: 600px) {
  .enter {
    padding: 2rem;
  }

  .enter h1 {
    font-size: 2rem;
  }

  .enter form input {
    font-size: 1rem;
  }

  .enter form button {
    padding: 1.1rem;
    font-size: medium;
  }
}

/* #endregion */

/* #region - Cards */

.hidden {
  display: none;
}

.cards {
  gap: 1.5rem;
  padding: 2rem 0;
}

.card {
  border-radius: 8px;
  margin: 0 0.5rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.7);
  width: 60%;
}

.card h3 {
  padding: 0 0.8em;
}

.card h2 {
  padding: 0.4em 0;
  margin: 0;
  text-align: center;
}

.inside-card h2 {
  border-radius: 7px 7px 0 0;
}

.top-green,
.top-red,
.green,
.red {
  transition: all 0.6s ease;
}

.top-red {
  background-color: #ffc7c7;
}

.top-green {
  background-color: #aef3ae;
}

.red {
  background-color: #ffecec;
  border: 1px solid #ea5050;
}

.green {
  background-color: #e3ffe3;
  border: 1px solid #199019;
}

/* #endregion */

/* #region - Scoreboard */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  border: 2px solid var(--text-clr);
  border-radius: 5px;
  padding: 3rem 5rem;
  text-align: center;
}

.modal h1 {
  font-size: 3rem;
  position: relative;
}

.modal h1::after {
  content: "";
  background-color: #183153;
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -5px;
  border-radius: 50%;
}

.modal ol {
  display: grid;
  place-items: center;
  padding: 0;
}

.modal ol li p {
  font-size: 1.2rem;
}

.modal ol li p span {
  display: grid;

  padding: 0.6rem;
}

@media (max-width: 500px) {
  .modal {
    padding: 1.5rem;
  }
}

/* #endregion */
